<li class="nav-link">
    <button mat-icon-button (click)="createBarchartEventEmit()">
        <i class="cui-chart icons"></i>
        Barchart
    </button>
</li>
<div class="nav-link">
    <button mat-icon-button (click)="createMapEventEmit()">
        <i class="cui-map icons"></i>
        Map
    </button>
</div>
<div class="nav-link">
    <button mat-icon-button (click)="createCardEventEmit()">
        <i class="cui-credit-card icons"></i>
        Card
    </button>
</div>
<div class="nav-link">
    <button mat-icon-button (click)="createInputEventEmit()">
        <i class="cui-note icons"></i>
        Input
    </button>
</div>
<div class="nav-link">
    <button mat-icon-button (click)="createTableEventEmit()">
        <i class="fa fa-table"></i>
        Table
    </button>
</div>